body {
	background-color: lightblue;
	font-family: 'Ubuntu', sans-serif;
}
h1 {
	bold-text: true;
	margin-left: 200px;
	color: darkpurple;
}
p {
	margin-left: 30px;
	line-height: 0.5;
}
footer {
	text-size: 80%;
	line-height: 0.2;
}
